<h1>Display your Pirate here</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>He is <%= @pirate.height %> tall and weighs
<%= @pirate.weight %></p>

<h2>Display your first ship here</h2>
<p><%= @ships[0].name %> is a
<%= @ships[0].type %> ship carrying
<%= @ships[0].booty %></p>


<h2>Display your second ship here</h2>
<p><%= @ships[1].name %> is a
<%= @ships[1].type %> ship carrying
<%= @ships[1].booty %></p>
